
<div class="row">
  <div class="col-md-1 col-md-offset-1">
    <h4 class="link-number pull-right"><%= @num %></h4>
    <% @num += 1 %>
  </div>
  <div class="col-md-1">
    <div class="row vote-image">
      <div class="col-md-2">
      <%= link_to (image_tag "up-arrow.png", class: "small-arrow"), up_vote_path(id: link.id) %>
      </div>
    </div>
    <h4 class="row vote-score"><%= link.vote_score %></h4>
    <div class="row vote-image">
      <div class="col-md-2">
      <%= link_to (image_tag "down-arrow.png", class: "small-arrow"), down_vote_path(id: link.id) %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4 class="row"><%= link_to link.title, go_path(id: link.id) %> </h4>
    <div class="row">
      <h6 class="col-md-12 text-left" >Description:<%= link.summary %></h6>
    </div>
    <div class="row">
      <h6 class="col-md-10 text-left"> Submitted <%= TimeDifference.between( link.created_at,Time.now).in_hours.round %> hours ago by <%= link_to link.user.username, user_path(id: link.user.id) %> to category: <%= link_to link.subreddit.name, subreddit_path(id: link.subreddit.id) %></h6>
    </div>
  </div>
</div>
