<p id="notice"><%= notice %></p>

<div class="row">
  <h5 class="col-md-12"><strong><%= @subreddit.name %></strong></h5>
</div>
</p>
<%= paginate @subreddit_links_each, :window => 1 %>
<%= render partial: "link", locals:{links: @subreddit_links} %>
<%= paginate @subreddit_links_each, :window => 1 %>
